.button {
    background-color: hsla(276, 65%, 66%, 0.808);
    border: none;
    color: rgb(7, 6, 6);
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 50px;
    cursor: pointer;
    }

    a.button8 {
        display: inline-block;
        color: rgb(65, 65, 65);
        font-weight: 700;
        text-decoration: none;
        user-select: none;
        outline: none;
        border: 2px solid;
        border-radius: 1px;
        transition: 0.2s;
        padding: .5em 2em;
        margin: 30px 80px;
        position: absolute;
      } 
      a.button8:hover { background: rgba(117, 117, 117, 0.2); }
      a.button8:active { background: white; }

body{
    margin: 0;
    background-color: rgb(110, 189, 140);
    font-family: 'Montserrat', sans-serif;
    line-height: 3;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100vh;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.rectangle {
    width: 50%;
    height: 30%;
    border:1px solid;
    background: #582b05d5;
    padding: 10px 40px;
    margin: 10px 187px;
}
    .text {
    color: #ffffff;
    text-align: right;
    line-height: 50px;
}

a.nubexn {
    background-color: #a5a5a5;
    position: absolute;
    border: none;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 0px;
    cursor: pointer;
    }
    a.nubexn:active {
    background-color: #ee0606; 
    }
    a.nubexn:hover {
    background-color: #ff6d6d; 
    }

    a.nubexy {
        background-color: #a5a5a5;
        position: absolute;
        border: none;
        color: white;
        padding: 0px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 2px 80px;
        cursor: pointer;
        }
        a.nubexy:active {
        background-color: #06ee0a; 
        }
        a.nubexy:hover {
        background-color: #6dff79; 
        }
        
